body {
    margin: 0;
    padding: 0;
    height: 100vh;

}
.content {
    background: #eee;;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.top {
    min-height: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.calculatorContainer {
    padding: 0 30px;
    margin: 0 100px;
    height: 144px;
}

.column {
    font-size: 12px;
}

.header {
    margin-bottom: 30px;
}

.headerLocation {
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    display: inline;
    font-weight: bold;
    margin: 0.67em 0;
    color: #3c3e44;
    font-size: inherit;
}

.region {
    color: rgb(0, 175, 255);
    font-weight: bold;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-bottom: 1px solid;
}

.filters {
    box-sizing: inherit;
}

.rowCalculate {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: inherit;
    margin: 0 -5px;
}

.filter {
    width: 100%;
    height: 44px;
    border: 1px solid black;
    padding: 0 5px;
}

.cards {
    box-sizing: inherit;
    min-height: 400px;
    background: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.sort {
    display: flex;
    padding: 15px 30px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px 4px 0 0;
    background: white;
    border: 1px solid #dddede;
    border-bottom: none;
}

.sortElements {
    display: flex;
    align-items: center;
}

.sortElements div {
    margin: 0 10px;
}

.productList {
    box-sizing: inherit;
}

.productWrapper {
    border-top: 1px solid #dddede;
}

.row {
    position: relative;
    display: flex;
    min-height: 120px;
    overflow: hidden;
    background: white;
    border-bottom: 1px solid #dddede;
}

img {
    max-width: 125px;
    max-height: 36px;
    min-width: 100px;
}

.column {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
}

.percent {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
}

.subtitle {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: normal;
}

.sum {
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 3px;
}

.column div {
    margin-bottom: 6px;
    width: 100%;
}

.column div button {
    background-color: rgb(13, 209, 73);
    border: 1px solid rgb(13, 209, 73);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    height: 34px;
    width: 100%;
}

.column:last-child {
    text-align: center;
}
